<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="CNVP.Data.IDatabase,CNVP.Data" />
    <typeAlias alias="EFDatabase" type="CNVP.Data.EF.Database,CNVP.Data.EF" />
    <typeAlias alias="IDbContext" type="CNVP.Data.EF.IDbContext,CNVP.Data.EF" />
    <typeAlias alias="MySql" type="CNVP.Data.EF.MySqlDbContext,CNVP.Data.EF" />
    <typeAlias alias="SqlServer" type="CNVP.Data.EF.SqlServerDbContext,CNVP.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type>
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="SqlServer" ></type>
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type>
      <type type="IDbContext" mapTo="MySql" name="MySql"></type>
    </container>
  </containers>
</unity>